{
  "env": {
    "server": {
      "presets": [
        "react",
        "stage-0",
        ["env", {
          "targets": { "node": 7 },
          "modules": false
        }]
      ]
    },
    "browser": {
      "presets": [
        "react",
        "stage-0",
        ["env", {
          "targets": { "ie": 10 },
          "modules": false
        }]
      ],
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "browser-prod": {
      "presets": [
        "react",
        "stage-0",
        ["env", {
          "targets": { "ie": 10 },
          "modules": false
        }]
      ]
    }
  }
}
