html {
    font-family: 'Roboto', 'sans-serif';
    background: white;
    min-height: 100%;
}

body {
    background-color: transparent;
}

footer :first-child {
}

.navbarCf {
    margin: auto;
    min-height: 55px;
}

.navbarBrandCf, .nav-link {
    display: flex;
}

.navbarCollapseCf, .navbarCollapseCf:first-child, .navbarLinksCf {
    min-height: 55px;
}

.navbarLinksCf {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 10px 0 10px !important;
}

.navbarLinksTextCf {
    margin: auto;
    color: white;
}

.navbarLinksCf:hover {
    background: white;
}

.navbarLinksCf:hover .navbarLinksTextCf{
    color: black;
}

.socialIconsFooter-svg path {
    fill: white !important;
}

.socialIconsFooterRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.socialIconsFooterRow div:last-child {
    display: none !important;
}

.socialIconsFooterCol {
    max-width: 25px !important;
    max-height: 25px !important;
    padding: 0 !important;
}

img {
    filter: none !important;
}

.navbar-light .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.66) !important;
}

.navbar-light .navbar-toggler-icon {
    filter: brightness(0) invert(1) !important;
}

.test_1 {
    display: inline-block;
}

.rowHomepage {
    background: linear-gradient(to left bottom, #FF5889, #FFBD68) no-repeat;
}

.firstRowHomepage {
    /*filter: grayscale(100%);*/
    height: 60vh;
    background: url("../../assets/images/background.jpg") center;
    animation-name: img-ani;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

.secondRowHomepage {
    margin-top: 1rem;
}

@keyframes img-ani {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (min-device-width: 768px) {
    .secondRowHomepage {
        height: 30vh;
    }

    .homePageElement {
        height: 100vh;
    }
}

@media only screen and (min-device-width: 560px) and (max-device-width: 768px) {
    .secondRowHomepage {
        height: 60vh;
    }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 560px) {
    .secondRowHomepage {
        height: 75vh;
    }
}

.secondRowHomepage_firstCol_1, .secondRowHomepage_secondCol_1, .secondRowHomepage_thirdCol_1 {
    animation-name: img-ani;
    opacity: 0;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
    -webkit-transition-delay: 500ms; /* Safari */
    animation-delay: 500ms;
    animation-fill-mode: forwards;
}

.secondRowHomepage_firstCol_2, .secondRowHomepage_secondCol_2, .secondRowHomepage_thirdCol_2 {
    animation-name: img-ani;
    opacity: 0;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
    -webkit-transition-delay: 1000ms; /* Safari */
    animation-delay: 1000ms;
    animation-fill-mode: forwards;
}

.secondRowHomepage_firstCol_3, .secondRowHomepage_secondCol_3, .secondRowHomepage_thirdCol_3 {
    animation-name: img-ani;
    opacity: 0;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
    -webkit-transition-delay: 1500ms; /* Safari */
    animation-delay: 1500ms;
    animation-fill-mode: forwards;
}

.secondRowHomepage_firstCol_4, .secondRowHomepage_secondCol_4, .secondRowHomepage_thirdCol_4 {
    animation-name: img-ani;
    opacity: 0;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
    -webkit-transition-delay: 2000ms; /* Safari */
    animation-delay: 2000ms;
    animation-fill-mode: forwards;
}

.secondRowHomepage_firstCol_1 {
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: margin-top 250ms, margin-bottom 250ms;
}

.secondRowHomepage_firstCol_2 {
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: margin-top 250ms, margin-bottom 250ms;
}

.secondRowHomepage_firstCol_3 {
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: margin-top 250ms, margin-bottom 250ms;
}

.secondRowHomepage_firstCol_4 {
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: margin-top 250ms, margin-bottom 250ms;
}

.secondRowHomepage_secondCol_1 {
    margin-top: 15px;
    -webkit-transition: margin-top 250ms;
}

.secondRowHomepage_secondCol_2 {
    margin-top: 15px;
    -webkit-transition: margin-top 250ms;
}

.secondRowHomepage_secondCol_3 {
    margin-top: 15px;
    -webkit-transition: margin-top 250ms;
}

.secondRowHomepage_secondCol_4 {
    margin-top: 15px;
    -webkit-transition: margin-top 250ms;
}

/*-------------------------------*/
.secondRowHomepage_thirdCol_1 {
    display: inline-block;
    border-bottom: 2px #e4e4e4 solid;
    margin-top: 15px;
    z-index: 1;
    -webkit-transition: margin-top 250ms;
}

.secondRowHomepage_thirdCol_2 {
    display: inline-block;
    border-bottom: 2px #e4e4e4 solid;
    margin-top: 15px;
    z-index: 1;
    -webkit-transition: margin-top 250ms;
}

.secondRowHomepage_thirdCol_3 {
    display: inline-block;
    border-bottom: 2px #e4e4e4 solid;
    margin-top: 15px;
    z-index: 1;
    -webkit-transition: margin-top 250ms;
}

.secondRowHomepage_thirdCol_4 {
    display: inline-block;
    border-bottom: 2px #e4e4e4 solid;
    margin-top: 15px;
    z-index: 1;
    -webkit-transition: margin-top 250ms;
}

/*-------------------------------*/

.homepageIcones_1:hover .secondRowHomepage_firstCol_1 {
    transition-timing-function: ease-out;
    margin-top: 20px;
    margin-bottom: 0;
    -webkit-transition: margin-top 250ms, margin-bottom 250ms;
}

.homepageIcones_2:hover .secondRowHomepage_firstCol_2 {
    transition-timing-function: ease-out;
    margin-top: 20px;
    margin-bottom: 0;
    -webkit-transition: margin-top 250ms, margin-bottom 250ms;
}

.homepageIcones_3:hover .secondRowHomepage_firstCol_3 {
    transition-timing-function: ease-out;
    margin-top: 20px;
    margin-bottom: 0;
    -webkit-transition: margin-top 250ms, margin-bottom 250ms;
}

.homepageIcones_4:hover .secondRowHomepage_firstCol_4 {
    transition-timing-function: ease-out;
    margin-top: 20px;
    margin-bottom: 0;
    -webkit-transition: margin-top 250ms, margin-bottom 250ms;
}

.homepageIcones_1:hover .secondRowHomepage_secondCol_1 {
    transition-timing-function: ease-out;
    margin-top: 0;
    -webkit-transition: margin-top 250ms;
}

.homepageIcones_2:hover .secondRowHomepage_secondCol_2 {
    transition-timing-function: ease-out;
    margin-top: 0;
    -webkit-transition: margin-top 250ms;
}

.homepageIcones_3:hover .secondRowHomepage_secondCol_3 {
    transition-timing-function: ease-out;
    margin-top: 0;
    -webkit-transition: margin-top 250ms;
}

.homepageIcones_4:hover .secondRowHomepage_secondCol_4 {
    transition-timing-function: ease-out;
    margin-top: 0;
    -webkit-transition: margin-top 250ms;
}

.homepageIcones_1:hover .secondRowHomepage_thirdCol_1 {
    transition-timing-function: ease-out;
    margin-top: -10px;
    -webkit-transition: margin-top 250ms;
}

.homepageIcones_2:hover .secondRowHomepage_thirdCol_2 {
    transition-timing-function: ease-out;
    margin-top: -10px;
    -webkit-transition: margin-top 250ms;
}

.homepageIcones_3:hover .secondRowHomepage_thirdCol_3 {
    transition-timing-function: ease-out;
    margin-top: -10px;
    -webkit-transition: margin-top 250ms;
}

.homepageIcones_4:hover .secondRowHomepage_thirdCol_4 {
    transition-timing-function: ease-out;
    margin-top: -10px;
    -webkit-transition: margin-top 250ms;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes animeHomepage_1 {
    from {
        margin-top: 10px;
    }
    to {
        margin-top: 20px;
    }
}

/* Standard syntax */
@keyframes animeHomepage_1 {
    from {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    to {
        margin-top: 20px;
        margin-bottom: 0;
    }
}

@-webkit-keyframes animeHomepage_2 {
    from {
        margin-top: 15px
    }
    to {
        margin-top: 0;
    }
}

/* Standard syntax */
@keyframes animeHomepage_2 {
    from {
        margin-top: 15px
    }
    to {
        margin-top: 0;
    }
}
